public/index.html

<html>
  <head>
    <title>Заголовок</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="css/magnific-popup.css"/>
    <link rel="stylesheet" href="css/slick.css"/>
    <link rel="stylesheet" href="css/slick-theme.css"/>
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  <body>
    <div class="breadcrumb">
      <div class="bx-breadcrumb"><a class="uppercase" href="/">Главная /</a><a class="uppercase" href="/planirovki-i-ceny/">Планировки и цены /</a><span class="current uppercase">6 очередь 12 корпус 333 кв.</span></div>
    </div>
    <div class="section__wrapper"><a class="link__back" href="#">Вернуться к списку квартир</a></div>
    <div class="section__wrapper section-1">
      <div class="items__wrapper">
        <div class="item__wrapper">
          <div class="pagination__wrapper">
            <div class="pagination__btn pagination__btn-prev"><img src="img/icons/p-prev.svg"/></div>
            <div class="pagination__list__wrapper">
              <div class="pagination__list"><a class="pagination__list__item" href="#">1</a><a class="pagination__list__item" href="#">2</a><a class="pagination__list__item" href="#">3</a><a class="pagination__list__item" href="#">4</a><a class="pagination__list__item" href="#">5</a><a class="pagination__list__item" href="#">6</a><a class="pagination__list__item" href="#">7</a><a class="pagination__list__item" href="#">8</a><a class="pagination__list__item" href="#">9</a><a class="pagination__list__item pagination__list__item-active" href="#">10</a><a class="pagination__list__item" href="#">11</a><a class="pagination__list__item" href="#">12</a><a class="pagination__list__item" href="#">13</a><a class="pagination__list__item" href="#">14</a><a class="pagination__list__item" href="#">15</a><a class="pagination__list__item" href="#">16</a><a class="pagination__list__item" href="#">17</a><a class="pagination__list__item" href="#">18</a><a class="pagination__list__item" href="#">19</a><a class="pagination__list__item" href="#">20</a><a class="pagination__list__item" href="#">21</a><a class="pagination__list__item" href="#">22</a><a class="pagination__list__item" href="#">23</a><a class="pagination__list__item" href="#">24</a></div>
            </div>
            <div class="pagination__btn pagination__btn-next"><img src="img/icons/p-next.svg"/></div>
            <div class="pagination__title">Этаж</div>
          </div>
          <div class="tabs__wrapper">
            <div class="tab__item tab__item-active" data-tab-title="layout">Планировка</div>
            <div class="tab__item" data-tab-title="floor">На этаже</div>
            <div class="tab__item" data-tab-title="map">На карте</div>
            <div class="tab__item" data-tab-title="corp">Корпус</div>
          </div>
          <div class="tabs__select">
            <select class="tab-select" id="tabs__select">
              <option value="layout">Планировка</option>
              <option value="floor">На этаже</option>
              <option value="map">На карте</option>
              <option value="corp">Корпус</option>
            </select>
          </div>
          <div class="tabs__content tabs__content-active tabs__content__wrapper" data-content-tab="layout">
            <div class="tabs__content__slider">
              <div class="appartment-info__wrapper">
                <div class="img__wrapper"><img src="img/rate.svg"/></div>
                <div class="img__wrapper"><img src="img/discount.svg"/></div>
              </div>
              <div class="slider__wrapper-top">
                <div class="thumb-slider">
                  <div class="thumb-slider__slides"><a class="tabs__content-plane_img active" href="img/thumb-slider/thumb-slide-1.png" data-tab="tab__plane"><img class="tabs__content-item-img" src="img/thumb-slider/thumb-slide-1.png"/>
                      <div class="tabs__content-zoom"><span>Увеличить</span><img src="img/icons/search.svg"/></div></a><a class="tabs__content-plane_img" href="img/thumb-slider/thumb-slide-2.png" data-tab="tab__plane"><img class="tabs__content-item-img" src="img/thumb-slider/thumb-slide-2.png"/>
                      <div class="tabs__content-zoom"><span>Увеличить</span><img src="img/icons/search.svg"/></div></a></div>
                </div>
              </div>
            </div>
          </div><a class="tabs__content modal tabs__content-floor" href="#floor-modal" data-content-tab="floor">
            <div><img class="tabs__content-item-img" src="img/floor-plan.png"/>
              <canvas id="floor-tab-canvas"></canvas>
              <area shape="poly" alt="" coords="1715,300,1717,567,1795,567,1795,531,1811,531,1811,300" href="19" title="Flat"/>
            </div>
            <div class="tabs__content-zoom"><span>Увеличить</span><img src="img/icons/search.svg"/></div></a><a class="tabs__content lightbox" href="img/map-top.png" data-content-tab="map"><img class="tabs__content-item-img" src="img/map-top.png"/>
            <div class="tabs__content-zoom"><span>Увеличить</span><img src="img/icons/search.svg"/></div></a><a class="tabs__content lightbox" href="img/corp.png" data-content-tab="corp"><img class="tabs__content-item-img" src="img/corp.png"/>
            <div class="tabs__content-zoom"><span>Увеличить</span><img src="img/icons/search.svg"/></div></a>
          <div class="floor-modal mfp-hide" id="floor-modal"><img src="img/floor-plan.png"/>
            <canvas id="floor-canvas"></canvas>
            <area shape="poly" alt="" coords="1715,300,1717,567,1795,567,1795,531,1811,531,1811,300" href="19" title="Flat"/>
          </div>
        </div>
        <div class="card__wrapper">
          <div class="card__title__wrapper">
            <div class="card__views-counter">
              <div class="img__wrapper"><img src="img/icons/card-views.svg"/></div>
              <div class="cunter__text">33</div>
            </div>
            <div class="card__title__text">
              <div class="card__title">1-комнатная № 308</div>
              <div class="card__subtitle">16 очередь, 36 корпус, 20 этаж</div>
            </div>
            <div class="card__options__wrapper">
              <div class="img__wrapper"><img src="img/icons/card-options.svg"/></div>
              <div class="options__menu"><a class="options__menu__item" href="#">Скачать PDF</a>
                <div class="options__menu__item popup__show" data-popup-key="subscribe">Отпарвить на e-mail</div>
              </div>
            </div>
          </div>
          <div class="card__row">
            <div class="card__cell-title">Ввод в эксплуатацию</div>
            <div class="card__cell-value">3 квартал 2020</div>
          </div>
          <div class="card__row">
            <div class="card__cell-title">Отделка</div>
            <div class="card__cell-value">Оптима</div>
          </div>
          <div class="card__row">
            <div class="card__cell-title">Площадь</div>
            <div class="card__cell-value">45.26 м<sup>2</sup></div>
          </div>
          <div class="card__row">
            <div class="card__cell-title">Цена за метр (с учетом скидки)</div>
            <div class="card__cell-value">108 500 ₽</div>
          </div><a class="card__text-small card__text-green" href="#">Ипотека в месяц от: 26 890 ₽</a>
          <div class="card__row card__row-price">
            <div class="card__text--medium">2 150 678 ₽</div>
          </div><a class="button__wrapper" href="#">Забронировать квартиру</a>
        </div>
      </div>
    </div>
    <div class="section__wrapper">
      <div class="gallery__wrapper"><a class="gallery__first-item gallery-magnific-popup" href="img/gallery/gallery-big.png"><img src="img/gallery/gallery-big.png"/></a>
        <div class="gallery__items"><a class="gallery-magnific-popup" href="img/gallery/gallery-items-1.png"><img src="img/gallery/gallery-items-1.png"/></a><a class="gallery-magnific-popup" href="img/gallery/gallery-items-2.png"><img src="img/gallery/gallery-items-2.png"/></a><a class="gallery-magnific-popup" href="img/gallery/gallery-items-3.png"><img src="img/gallery/gallery-items-3.png"/></a>
          <div class="gallery__more-wrapper"><a class="gallery-magnific-popup " href="img/gallery/gallery-items-4.png"><img src="img/gallery/gallery-items-4.png"/></a><span class="gallery__more">+3</span><a class="gallery-magnific-popup gallery__more-img" href="img/gallery/gallery-items-4.png"><img src="img/gallery/gallery-items-4.png"/></a><a class="gallery-magnific-popup gallery__more-img" href="img/gallery/gallery-items-4.png"><img src="img/gallery/gallery-items-4.png"/></a><a class="gallery-magnific-popup gallery__more-img" href="img/gallery/gallery-items-4.png"><img src="img/gallery/gallery-items-4.png"/></a></div>
        </div>
      </div>
      <div class="items__wrapper">
        <div class="item__wrapper">
          <div class="item__icon"><img src="img/icons/door.svg"/></div>
          <div class="item__text">Входная металлическая дверь с толщиной листа 1,2 мм</div>
        </div>
        <div class="item__wrapper">
          <div class="item__icon"><img src="img/icons/lock.svg"/></div>
          <div class="item__text">Фактурные обои под окраску на стенах в жилых комнатах, холле и кухне</div>
        </div>
        <div class="item__wrapper">
          <div class="item__icon"><img src="img/icons/wall.svg"/></div>
          <div class="item__text">Глухие или остекленные межкомнатные двери – экошпон, цвет: беленый дуб</div>
        </div>
        <div class="item__wrapper">
          <div class="item__icon"><img src="img/icons/floor.svg"/></div>
          <div class="item__text">Панельные стальные радиаторы со встроенными терморегуляторами, цвет: белый</div>
        </div>
        <div class="item__wrapper">
          <div class="item__icon"><img src="img/icons/door-2.svg"/></div>
          <div class="item__text">Панельные стальные радиаторы со встроенными терморегуляторами, цвет: белый</div>
        </div>
        <div class="item__wrapper">
          <div class="item__icon"><img src="img/icons/3d.svg"/></div>
          <div class="item__text">На полу в коридоре, комнатах и кухне – ламинат 32 класса, цвет: дуб сенегал</div>
        </div>
        <div class="item__wrapper">
          <div class="item__icon"><img src="img/icons/heat.svg"/></div>
          <div class="item__text">ПВХ плинтус в цвет пола с кабель-каналом и мягким краем</div>
        </div>
        <div class="item__wrapper">
          <div class="item__icon"><img src="img/icons/floor-1.svg"/></div>
          <div class="item__text">В санузле и ванной пол и стены облицованы керамической плиткой</div>
        </div>
      </div>
    </div>
    <div class="section__wrapper section-3">
      <div class="section__main__img">
        <div class="concept__wrapper">
          <div class="concept__type concept__type-active" data-concept-type="forest">forest</div>
          <div class="concept__type" data-concept-type="urban">urban</div>
        </div>
        <div class="slider main-slider slider-active" data-concept-content="forest">
          <div class="slide"><img src="img/slider-1/slide-top-1.png"/></div>
          <div class="slide"><img src="img/slider-1/slide-top-2.png"/></div>
          <div class="slide"><img src="img/slider-1/slide-top-1.png"/></div>
          <div class="slide"><img src="img/slider-1/slide-top-2.png"/></div>
          <div class="slide"><img src="img/slider-1/slide-top-1.png"/></div>
          <div class="slide"><img src="img/slider-1/slide-top-2.png"/></div>
        </div>
        <div class="slider main-slider" data-concept-content="urban">
          <div class="slide"><img src="img/slider-1/slide-top-1.png"/></div>
          <div class="slide"><img src="img/slider-1/slide-top-1.png"/></div>
          <div class="slide"><img src="img/slider-1/slide-top-1.png"/></div>
          <div class="slide"><img src="img/slider-1/slide-top-1.png"/></div>
          <div class="slide"><img src="img/slider-1/slide-top-1.png"/></div>
          <div class="slide"><img src="img/slider-1/slide-top-1.png"/></div>
        </div>
      </div>
      <div class="section__content">
        <div class="section__title">Концепция «УРБАН ФОРЕСТ»</div>
        <div class="section__text">Юнтолово – новый жилой комплекс в Приморском районе, построенный окружении природного заказника. Здесь реализована концепция «урбан форест» - вы живете в окружении природы, но пользуетесь всем, что может дать цивилизация. Несмотря на близость к природе, Юнтолово – это район Санкт-Петербурга и все жители имеют петербургскую прописку.</div>
      </div>
    </div>
    <div class="section__wrapper section-4">
      <div class="section__content">
        <div class="section__title">Счастливое детство</div>
        <div class="section__text">Юнтолово – это про детей. Здесь есть всё, что может дать природа для их здоровья, и всё, что может дать цивилизация для развития.<br/>Сегодня здесь уже открыты два детских сада и школа. Все — с бассейнами, спортивными площадками, оборудованные по последнему слову техники. Всего в ЖК будет построено 9 школ и 18 детских садов.<br/>Здесь будут построены качественные детские площадки для всех возрастов с современным оборудованием и безопасным покрытием. Для каждого возраста – своя площадка.</div>
        <div class="buttons__slider"></div>
      </div>
      <div class="slider__wrapper">
        <div class="slider slider-2">
          <div class="slide"><img src="img/slider-2/slide-1.png"/></div>
          <div class="slide"><img src="img/slider-2/slide-2.png"/></div>
          <div class="slide"><img src="img/slider-2/slide-1.png"/></div>
          <div class="slide"><img src="img/slider-2/slide-2.png"/></div>
          <div class="slide"><img src="img/slider-2/slide-1.png"/></div>
          <div class="slide"><img src="img/slider-2/slide-2.png"/></div>
        </div>
      </div>
    </div>
    <div class="section__wrapper section-5">
      <div class="section__main__img">
        <div class="slider main-slider">
          <div class="slide"><img src="img/slider-1/slide-top-1.png"/></div>
          <div class="slide"><img src="img/slider-1/slide-top-2.png"/></div>
          <div class="slide"><img src="img/slider-1/slide-top-1.png"/></div>
          <div class="slide"><img src="img/slider-1/slide-top-2.png"/></div>
          <div class="slide"><img src="img/slider-1/slide-top-1.png"/></div>
          <div class="slide"><img src="img/slider-1/slide-top-2.png"/></div>
        </div>
      </div>
      <div class="section__content">
        <div class="section__title">Безбарьерная среда и безопасность</div>
        <div class="section__text">Продуманно, современно, безопасно – так можно описать места общественно пользования в новом квартале. Входы в парадные с уровня земли, сквозные подъезды с двумя выходами, колясочные и парковка для велосипедов – максимальное удобство для жильцов. Железные входные двери с большой площадью остекления делает делают наши подъезды светлыми, а наличие видеонаблюдения гарантирует безопасность.<br/>Все подъезды художественно оформлены в концепции «урбан форест».</div>
      </div>
    </div>
    <div class="section__wrapper section-6">
      <div class="section__content">
        <div class="section__title">Благоустройство</div>
        <div class="section__text">Мы позаботились о том, чтобы, выходя на улицу, вы попали в не менее комфортную среду. Поэтому особое внимание мы уделили благоустройству района. Здесь появятся большое общественное пространство, которое станет «центром притяжения» жителей района. В нем предусмотрены качественные детские площадки для разных возрастов, зоны для занятий спортом и даже место для пикника.</div>
      </div>
      <div class="section__images__wrapper">
        <div class="img__wrapper"><img src="img/section-6-1.png"/></div>
        <div class="img__wrapper"><img src="img/section-6-2.png"/></div>
      </div>
    </div>
    <div class="section__wrapper section-7">
      <div class="section__title">План застройки</div>
      <form class="form__subscribe" action="#">
        <div class="form__title">Подписка на новости</div>
        <input class="input__wrapper" type="email" placeholder="Введите E-mail"/>
        <input class="button__wrapper" type="submit" value="Подписаться"/>
      </form>
    </div>
    <div class="section__wrapper section-8">
      <div class="section__title">Популярные квартиры</div>
      <div class="cards__items__wrapper">
        <div class="card__wrapper">
          <div class="card__image__wrapper"><img src="img/card-plan-1.png"/></div>
          <div class="card__title">Студия № 308</div>
          <div class="card__subtitle">16 очередь, 36 корпус, 20 этаж</div>
          <div class="card__row">
            <div class="card__cell-title">Ввод в эксплуатацию</div>
            <div class="card__cell-value">3 квартал 2020</div>
          </div>
          <div class="card__row">
            <div class="card__cell-title">Отделка</div>
            <div class="card__cell-value">Оптима</div>
          </div>
          <div class="card__row">
            <div class="card__cell-title">Площадь</div>
            <div class="card__cell-value">45.26 м<sup>2</sup></div>
          </div>
          <div class="card__row">
            <div class="card__cell-title">Цена за метр (с учетом скидки)</div>
            <div class="card__cell-value">108 500 ₽</div>
          </div><a class="card__text-small card__text-green" href="#">Ипотека в месяц от: 26 890 ₽</a>
          <div class="card__row card__row-price">
            <div class="card__text--medium">2 150 578 ₽</div>
          </div><a class="button__wrapper" href="#">Забронировать квартиру</a>
        </div>
        <div class="card__wrapper">
          <div class="card__image__wrapper"><img src="img/card-plan-1.png"/></div>
          <div class="card__title">Студия № 308</div>
          <div class="card__subtitle">16 очередь, 36 корпус, 20 этаж</div>
          <div class="card__row">
            <div class="card__cell-title">Ввод в эксплуатацию</div>
            <div class="card__cell-value">3 квартал 2020</div>
          </div>
          <div class="card__row">
            <div class="card__cell-title">Отделка</div>
            <div class="card__cell-value">Оптима</div>
          </div>
          <div class="card__row">
            <div class="card__cell-title">Площадь</div>
            <div class="card__cell-value">45.26 м<sup>2</sup></div>
          </div>
          <div class="card__row">
            <div class="card__cell-title">Цена за метр (с учетом скидки)</div>
            <div class="card__cell-value">108 500 ₽</div>
          </div><a class="card__text-small card__text-green" href="#">Ипотека в месяц от: 26 890 ₽</a>
          <div class="card__row card__row-price">
            <div class="card__text--medium">2 150 678 ₽</div>
          </div><a class="button__wrapper" href="#">Забронировать квартиру</a>
        </div>
        <div class="card__wrapper">
          <div class="card__image__wrapper"><img src="img/card-plan-1.png"/></div>
          <div class="card__title">Студия № 308</div>
          <div class="card__subtitle">16 очередь, 36 корпус, 20 этаж</div>
          <div class="card__row">
            <div class="card__cell-title">Ввод в эксплуатацию</div>
            <div class="card__cell-value">3 квартал 2020</div>
          </div>
          <div class="card__row">
            <div class="card__cell-title">Отделка</div>
            <div class="card__cell-value">Оптима</div>
          </div>
          <div class="card__row">
            <div class="card__cell-title">Площадь</div>
            <div class="card__cell-value">45.26 м<sup>2</sup></div>
          </div>
          <div class="card__row">
            <div class="card__cell-title">Цена за метр (с учетом скидки)</div>
            <div class="card__cell-value">108 500 ₽</div>
          </div><a class="card__text-small card__text-green" href="#">Ипотека в месяц от: 26 890 ₽</a>
          <div class="card__row card__row-price">
            <div class="card__text--medium">2 150 678 ₽</div>
          </div><a class="button__wrapper" href="#">Забронировать квартиру</a>
        </div>
      </div>
    </div>
    <div class="section__wrapper section__disclamer">
      <div class="disclamer__text">*Предполагаемый срок получения разрешения на ввод в эксплуатацию согласно Проектной декларации<br/>**Отделка, предусмотренная условиями договора участия в долевом строительстве.<br/>Реализация проекта ведется на основании 214 Федерального закона. Договоры участия в долевом строительстве подлежат регистрации в Управление Федеральной службы государственной регистрации, кадастра и картографии (УФРС). Наши услуги по регистрации бесплатные. О порядке подачи документов на регистрацию и сроках оплаты первого взноса уточните у Вашего менеджера. Сведения о планировочных решениях и ценах носят информационный характер. Просим Вас уточнить актуальность информации при заключении договора участия в долевом строительстве. Возможны изменения проектной документации и/или площади квартир в процессе строительства. Данное предложение носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437(2) ГКРФ.<br/>Указанные на сайте цены не являются окончательными, застройщик может изменить в любое время указанные на сайте цены без какого-либо предварительного уведомления. Цена договора формируется индивидуально и определяется непосредственно при подписании договора с конкретным Клиентом и действительна при покупке в ипотеку или 100% оплате. Информацию о действующих скидках и акциях уточняйте у менеджеров по продажам.<br/>Информация о площади и стоимости квартиры, в том числе отдельных помещений или иных частей квартиры является ориентировочной (планируемой) и не является публичной офертой. В процессе строительства многоквартирного жилого дома возможны изменения параметров помещений, входящих в состав квартиры. При условии соблюдения требований действующего законодательства РФ, Застройщик вправе без согласования (уведомления) с Участником долевого строительства вносить изменения в проектную документацию многоквартирного жилого дома и (или) конкретной квартиры, при условии их согласования с соответствующими государственными органами и организациями, или изменения, производимые без такого согласования, если такое согласование не требуется по законодательству РФ, в т.ч.: - появление или удаление (исключение) или изменение местоположения козырьков парадных, пандусов, перил лестниц,<br/>- изменение проекта благоустройства прилегающей территории,<br/>- появление или удаление дополнительных балконов, лоджий,<br/>- размещение в квартирах объектов согласно требованиям противопожарных норм(рукавов, вентилей и т.д.),<br/>- создание вентиляционных каналов и шахт в кухнях, санузлах, коридорах, которые могут выступать из стен и уменьшать площадь соответствующей части квартиры.</div>
    </div>
    <div class="popup__wrapper" data-popup-value="subscribe">
      <div class="popup__bg"></div>
      <div class="popup__body">
        <div class="popup__close">Закрыть</div>
        <div class="popup__title">Оставьте ваш e-mail, мы отправим<br/>вам планировку на почту.</div>
        <form class="form__subscribe" action="#">
          <input class="input__wrapper" type="email" placeholder="Введите E-mail"/>
          <input class="button__wrapper" type="submit" value="Подписаться"/>
        </form>
        <div class="popup__text-small">Нажимая на кнопку «Отправить» вы соглашаетесь с политикой обработки персональных данных.</div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/gallery.js"></script>
    <script src="js/thumb-slider.js"></script>
    <script src="js/main.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/slick-init.js"></script>
    <script src="js/pagination.js"></script>
    <script src="js/tabs.js"></script>
  </body>
</html>

dev/pug/index.pug
html
    include head
    body
        .breadcrumb
            .bx-breadcrumb
                a(href="/" class="uppercase") Главная /
                a(href="/planirovki-i-ceny/" class="uppercase") Планировки и цены /
                span(class="current uppercase") 6 очередь 12 корпус 333 кв.
        .section__wrapper
            a(href="#").link__back Вернуться к списку квартир
        include content/section-1
        include content/section-2
        include content/section-3
        include content/section-4
        include content/section-5
        include content/section-6
        include content/section-7
        include content/section-8
        .section__wrapper.section__disclamer
                .disclamer__text *Предполагаемый срок получения разрешения на ввод в эксплуатацию согласно Проектной декларации
                    br
                    | **Отделка, предусмотренная условиями договора участия в долевом строительстве.
                    br
                    | Реализация проекта ведется на основании 214 Федерального закона. Договоры участия в долевом строительстве подлежат регистрации в Управление Федеральной службы государственной регистрации, кадастра и картографии (УФРС). Наши услуги по регистрации бесплатные. О порядке подачи документов на регистрацию и сроках оплаты первого взноса уточните у Вашего менеджера. Сведения о планировочных решениях и ценах носят информационный характер. Просим Вас уточнить актуальность информации при заключении договора участия в долевом строительстве. Возможны изменения проектной документации и/или площади квартир в процессе строительства. Данное предложение носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями статьи 437(2) ГКРФ.
                    br
                    | Указанные на сайте цены не являются окончательными, застройщик может изменить в любое время указанные на сайте цены без какого-либо предварительного уведомления. Цена договора формируется индивидуально и определяется непосредственно при подписании договора с конкретным Клиентом и действительна при покупке в ипотеку или 100% оплате. Информацию о действующих скидках и акциях уточняйте у менеджеров по продажам.
                    br
                    | Информация о площади и стоимости квартиры, в том числе отдельных помещений или иных частей квартиры является ориентировочной (планируемой) и не является публичной офертой. В процессе строительства многоквартирного жилого дома возможны изменения параметров помещений, входящих в состав квартиры. При условии соблюдения требований действующего законодательства РФ, Застройщик вправе без согласования (уведомления) с Участником долевого строительства вносить изменения в проектную документацию многоквартирного жилого дома и (или) конкретной квартиры, при условии их согласования с соответствующими государственными органами и организациями, или изменения, производимые без такого согласования, если такое согласование не требуется по законодательству РФ, в т.ч.: - появление или удаление (исключение) или изменение местоположения козырьков парадных, пандусов, перил лестниц,
                    br
                    |- изменение проекта благоустройства прилегающей территории,
                    br
                    |- появление или удаление дополнительных балконов, лоджий,
                    br
                    |- размещение в квартирах объектов согласно требованиям противопожарных норм(рукавов, вентилей и т.д.),
                    br
                    |- создание вентиляционных каналов и шахт в кухнях, санузлах, коридорах, которые могут выступать из стен и уменьшать площадь соответствующей части квартиры.
        include content/popup-subscribe
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="js/jquery-ui.min.js")
        script(src="js/magnific-popup.min.js")
        script(src="js/gallery.js")
        script(src="js/thumb-slider.js")
        script(src="js/main.js")
        script(src="js/slick.min.js")
        script(src="js/slick-init.js")
        script(src="js/pagination.js")
        script(src="js/tabs.js")
